.table-header {
    background-color: #007bff;
    color: #fff;
}
.table-bordered thead th, .table-bordered td {
     border: 1px solid #dee2e6;
}

button {
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
